<div class="row featurette">
  <div class="col-md-7">
    <h5 class="featurette-heading">Meet the <span class="text-muted">TEAM</span></h5>
  </div>
  <div class="col-md-5">
  </div>
</div>
<div id="row" class="row">
  <div class="column">
    <div class="card">
      <span style="text-align:center;"><img class="rounded mx-auto d-block" class="img-thumbnail" src="./assets/img/team.png" alt="dr"></span>
      <div class="container">
        <h5>Dr. Jonny Maroni</h5>
        <p class="title">CEO &amp; Founder</p>
        <p>He is the greatest boss and such a cute person.</p>
        <p><i class='far fa-envelope'></i> drmaroni@travelagency.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <span style="text-align:center;"><img class="rounded mx-auto d-block" class="img-thumbnail" src="./assets/img/team.png" alt="popa"></span>
      <div class="container">
        <h5>Arni Poparni</h5>
        <p class="title">Sales</p>
        <p>The perfect salesman for this branche!</p>
        <p><i class='far fa-envelope'></i> poparni@travelagency.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <span style="text-align:center;"><img class="rounded mx-auto d-block" class="img-thumbnail" src="./assets/img/team.png" alt="linda"></span>
      <div class="container">
        <h5>Linda Kind-of-tinda</h5>
        <p class="title">Customer Service</p>
        <p>She would defenetly take care of you, honey.</p>
        <p><i class='far fa-envelope'></i> linda@travelagency.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <br>
</div>
