
<div class="container m-0">
<div class="row featurette">
  <div class="col-md-7">
    <h5>Our Travel Blog</h5>
  </div>
 <div class="card-deck">
  <div class="card">
      <div class="card-header">
    <img class="rounded mx-auto d-block" class="img-thumbnail" style="width: 200px;" src="./assets/img/blog1.jpg">
      </div><div class="card-body">
      <h6 class="card-title"><i class='fas fa-plane-departure'></i> Travel impressions</h6>
      <p class="card-text">Something about somewhere...and so on. Travelling is fun. Something about somewhere...and so on. Travelling is fun.</p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
    <img class="rounded mx-auto d-block" class="img-thumbnail" style="width: 200px;" src="./assets/img/blog2.jpg">
    </div><div class="card-body">
      <h6 class="card-title"><i class='fas fa-spa'></i> Influencing at the other side</h6>
      <p class="card-text">Something about somewhere...and so on. Travelling is fun. Something about somewhere...and so on. Travelling is fun.</p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
    <img class="rounded mx-auto d-block" class="img-thumbnail" style="width: 200px;" src="./assets/img/blog3.jpg">
   </div> <div class="card-body">
      <h6 class="card-title"><i class='fas fa-suitcase'></i> Take a break</h6>
      <p class="card-text">Something about somewhere...and so on. Travelling is fun. Something about somewhere...and so on. Travelling is fun.</p>
    </div>
  </div>
</div>
</div>
</div>
<br>
